<!DOCTYPE html>
<html lang="en">
<body>
<table style="width: 100%; font-family: SansSerif, serif; font-size: 16px">
    <tbody>
    <tr>
        <td style="text-align: center">
            <h1>
                Pendo Fantasy Football Digest
            </h1>
            <img src="https://i.ibb.co/bFP0h9r/pendo2.png" alt="pendo-logo">
            <br>
            <br>
            <br>
            <br>
        </td>
    </tr>
    <tr>
        <td style="text-align: left; padding: 0 33% 0 33%">
            <h1>
                Big News in New Orleans
            </h1>
            <hr>
            <h2 style="color: rgb(117, 117, 117)">
                Injuries, A Chase of the Yips, Payment Details
            </h2>
            <p>
                Pre-season is over and you know what that means, the regular season is right around the corner! Now we wait two whole weeks before meaningful football is back.
                Unfortunately, a lot can happen in two weeks. Players can win or lose team competitions and injuries can occur. If you're like me, you're going to spend the downtime
                consuming as much fantasy news as you can, bungle the draft, and then claw your way back to middle of the pack.
            </p>
            <p>
                Now, I personally love Fantasy Football season. It brings me joy every year to stare at spreadsheets and crunch numbers while trying to find the next player
                poised for a breakout season. I personally started playing in 2016 with a single standard points league. I truly thought I would play for a single year and be done
                with the game. However, my love for fantasy now has me joining at least three leagues per year. I guess you could say it turned into quite a hobby.
            </p>
            <p>
                I want to thank you {{.}}, for taking time out of your day to not only read this, but also for playing fantasy with me. This is my first year ever
                running a league, especially one of this size. To say I am excited is an understatement. To compliment our weekly matches, I will be sending out this newsletter
                with weekly stats, standings, and musings.
            </p>
            <p>
                Let's have an amazing season this year.
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: left; padding: 0 33% 0 33%">
            <h1>
                News & Notes:
            </h1>
            <hr>
            <h3>
                Jameis QB1?
            </h3>
            <iframe src="https://giphy.com/embed/7oOiJugXeC8e0Iq6Kq" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <p>
                <a href="twitter.com/adamschefter/status/1431237587302297604?s=21">Jameis Winston</a> has won the starting job in New Orleans which should bring joy to all
                Alvin Kamara drafters. Taysom Hill will still be involved, but it sounds like NO will go for a more traditional passing attack rather than trusting their
                gadget QB with the offense. With Michael Thomas out with an injury for the first few weeks (and possibly more if there truly are issues between he and the front
                office), Alvin Kamara should see a significant bump.
            </p>
            <br>
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Jameis Winston has been named the Saints&#39; starting quarterback and will make his first start for New Orleans on opening day vs. Green Bay Packers, per sources.</p>&mdash; Adam Schefter (@AdamSchefter) <a href="https://twitter.com/AdamSchefter/status/1431237587302297604?ref_src=twsrc%5Etfw">August 27, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <br>
            <h3>
                JK Dobbins Out for the Year
            </h3>
            <p>
                <a href="https://www.espn.com/nfl/story/_/id/32107877/baltimore-ravens-jk-dobbins-having-mri-expectation-rb-season-sources-say">JK Dobbins</a> tore his ACL while
                being tackled in the third and final preseason game of the NFL season. Both Gus Edwards and newly annointed #2 Ty'Son Williams should trend upward with Dobbins' departure.
                You should be fading Justice Hill as he is allegedly on the line of being cut.
            </p>
            <br>
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Beat confirms Ty&#39;Son Williams is Ravens RB2 <a href="https://t.co/diTL5KJ5GZ">https://t.co/diTL5KJ5GZ</a> <a href="https://t.co/kFt3t1wDuL">pic.twitter.com/kFt3t1wDuL</a></p>&mdash; NBC Sports EDGE Football (@NBCSEdgeFB) <a href="https://twitter.com/NBCSEdgeFB/status/1432330529882271747?ref_src=twsrc%5Etfw">August 30, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <br>
            <p>
                Do be careful with Ravens running backs in PPR leagues. Lamar Jackson has only thrown 40 times to a running back in his three years in the NFL. You have been warned.
            </p>
            <p>
                Also worth noting that Todd Gurley is still a free agent. However...
            </p>
            <br>
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">In the wake of the injury to J.K Dobbins, my understanding is the <a href="https://twitter.com/hashtag/Ravens?src=hash&amp;ref_src=twsrc%5Etfw">#Ravens</a> currently like their depth at the running back position and the team is not expected to pursue Todd Gurley, at this time.</p>&mdash; IG: JosinaAnderson (@JosinaAnderson) <a href="https://twitter.com/JosinaAnderson/status/1432356004868599809?ref_src=twsrc%5Etfw">August 30, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <br>
            <h3>
                Evan Engram Exits with Injury
            </h3>
            <p>
                <a href="https://profootballtalk.nbcsports.com/2021/08/29/evan-engram-suffers-calf-injury-in-giants-preseason-finale/">Evan Engram</a> wound up with a calf injury during the final preseason game
                of the NFL season along with Giants WR Darius Slayton. Neither Engram or Slayton returned to the match. Keep an eye on this story if you draft TE in the later rounds.
            </p>
            <h3>
                Concern for Ja'Marr Chase
            </h3>
            <p>
                Cincinnatti rookie Ja'Marr Chase is not off to the start he wanted. Analysts are speculating that Chase is intentionally avoiding contact due to having sat out the last year.
            </p>
            <br>
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Ja&#39;Marr Chase this preseason<br><br>🔺 5 targets<br>🔺 4 drops<br>🔺 1 catch<br><br>He had 5 total drops during the entire 2019 CFB season 😳 <a href="https://t.co/cS62L2d14t">pic.twitter.com/cS62L2d14t</a></p>&mdash; PFF Fantasy Football (@PFF_Fantasy) <a href="https://twitter.com/PFF_Fantasy/status/1432322207909224450?ref_src=twsrc%5Etfw">August 30, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <br>
            <h3>
                End of an Era in Detroit
            </h3>
            <p>
                2019 fantasy playoffs darling Breshad Perriman has been cut by the Detroit Lions. Adjust your draft plans accordingly.
            </p>
            <br>
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">First of many cuts this week is a notable one: Lions have released WR Breshad Perriman, per source.</p>&mdash; Adam Schefter (@AdamSchefter) <a href="https://twitter.com/AdamSchefter/status/1432300198240337931?ref_src=twsrc%5Etfw">August 30, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <br>
        </td>
    </tr>
    <tr>
        <td style="text-align: left; padding: 0 33% 0 33%">
            <h1>
                Payment Details
            </h1>
            <hr>
            <p>
                We will be using Venmo for league payment. Please send $20 to <b>@Jonathan-Thompson-29</b>. Once playoffs have completed, I will reach out to our winners for their Venmo
                information in order to pay out prize money.
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center">
            <br>
            <br>
            <i>This is an automated e-mail created using Go</i>.
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>