<!DOCTYPE html>
<html lang="en">
    <body>
        <table style="width: 100%">
            <tbody>
                <tr>
                    <td style="text-align: left">
                        Good morning {{.}},
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <p>
                            I apologize for the previous e-mail and the confusion regarding League 2. League 2 was not set up which is why you would not have received
                            an e-mail inviting you to the league. Please follow <a href="https://fantasy.espn.com/football/league/join?leagueId=359894940&inviteId=6ee11ba0-9d56-45df-a4f3-622a097bc73e">this link</a>
                            to add your team to League 2.
                        </p>
                        <p>
                            Please make sure that you use the above link to set up your team.
                        </p>
                        <p>
                            <b>We cannot draft until all 12 teams have been set up.</b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <i>This is an automated e-mail created using Go</i>.
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>