<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Places I have Lived</title>
    </head>

    <body>
        <ul>
            <li>
                {{.State}} - {{.City}}
            </li>
        </ul>
    </body>
</html>