<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Places I have Lived</title>
    </head>

    <body>
        <ul>
            {{range .}}
                <li>
                    {{.State}} - {{.City}}
                </li>
            {{end}}
        </ul>
    </body>
</html>